* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.one {
	width: px;
  	height: calc(100vh / 3);
  	top: 0%;
  	bottom: 0%;
  	left: 0%;
  	right: 0%;
	background-color: rgb(198,198,198);
}
.two {
	width:calc(100% / 4);
	height: calc(100vh / 3);
	float: left;
	background-color: rgb(254,248,164);
}
.three {
	width:calc(100% / 4);
	height: calc(100vh / 3);
	float: left;
	background-color: rgb(182,253,138);
}
.four {
	width:calc(100% / 4);
	height: calc(100vh / 3);
	float: left;
	background-color: rgb(75,1,223);
}

.five {
	position: absolute;
	width:calc(100% / 4);
	height:66.66666667%;
	right:0%; 
	bottom: 0%;
	float: left;
	background-color: rgb(82,238,205);
}
.six {
	width:75%;
	height: calc(100vh / 3);
	bottom:0%; 
	float: left;
	background-color: rgb(238,83,222);
}

@media screen and (max-width: 900px) {

body{ display: flex;
  flex-direction: column;
  height: 100vh;}

.one {
  	height: calc(100vh / 5);
  	top: 0%;
  	bottom: 0%;
  	left: 0%;
  	right: 0%;
	background-color: rgb(198,198,198);
}
.two {
	height: calc(100vh / 5);
	flex-direction: column;
	background-color: rgb(254,248,164);
}
.three {
	height: calc(100vh / 5);
	flex-direction: column;
	background-color: rgb(182,253,138);
}
.four {
	height: calc(100vh / 5);
	flex-direction: column;
	background-color: rgb(75,1,223);
}

.five {
	width:75%;
	height: 60%;
	right:0%;
	bottom:20%;  
	top: 20%;
	background-color: rgb(82,238,205);
}
.six {
	height: calc(100vh / 5);
	width:100%;
	bottom:0%; 
	left: 0%;
	right: 0%;
	background-color: rgb(238,83,222);
}
}
